/* implementinf styling all over the document */
*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #D4BDAC;
}
/* styling header */
header{
    text-align: center;
    padding: 2px;
    height: 150px;
}
header h1{
    color: #102C57;
    font-weight: 600;
    font-size: 90px;
    padding-top: 35px;    
}
header p{
    color:#153448;
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 20px;
}
.about{
    margin-top: 70px;
    margin-left: 8%;
    margin-bottom: 20px;
    display: flex;
}
.about img{
    width: 300px;
    border:#102C57 solid 20px; 
    border-radius: 50px;
}
.desc {
    width: 800px;
    height: 250px;
    display: flex;
    display: inline-block;
    margin-left:50px;
    text-align: center;
    align-content: center;
    padding: 10px;
    font-size: 55px;
    color:#0C1844;
    font-style:oblique;
    line-height: 1.2;
}
.skills{
    text-align: center;
}
.skills h2{
    margin: 70px 70px 0px 70px;
    padding-bottom: 10px;
    font-size: 50px;
    color: #153448;
    text-decoration: underline 2px #102C57;
}
.skills p{
    font-size: 25px;
    font-style: oblique;
}
.projects h2{
    margin: 70px 70px 0px 70px;
    padding-bottom: 50px;
    font-size: 50px;
    color: #153448;
    text-align: center;
    text-decoration: underline 2px #102C57;
}
.projects img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 15px;
}
.projects p{
    font-size: 25px;
    font-style: oblique;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
.resume h2{
    margin: 70px 70px 0px 70px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #153448;
    text-align: center;
    text-decoration: underline 2px #102C57;
}
.resume p{
    font-size: 25px;
    font-style: oblique;
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.resume p:hover{
    text-decoration: underline black 1.5px;
}
.resume p a{
    text-decoration: none;
    color:#102C57;
    font-size: 35px;
}
.contacts h2{
    margin: 30px 70px 0px 70px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #153448;
    text-align: center;
    text-decoration: underline 2px #102C57;
}
.contact {
    font-size: 25px;
    font-style: oblique;
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.contact a{
    text-decoration: none;
    color:#102C57;
    font-size: 35px;
    line-height: 60px;
}
.contact a:hover{
    text-decoration: underline black 1.5px;
}
.contact a i{
    padding: 15px;
}
